body
{
    margin-bottom: 0vh;
    padding-bottom: 0%;
    border: 0vh;
}
.row
{
    padding: 5vh, 5vh, 0vh, 5vh;
    
}

h1
{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 6vh;
}

.form-group
{
    width: 70vh;
    margin-top: 2%;
}

.form
{
    margin-left: 20%;
}

.container
{
    opacity: 0.8;
    
}

img
{
    width: 65%;
    margin-left: 10%;
}

footer
{
    font-family: 'Playfair Display', serif;
    text-align: center;
}