<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <!--Bootstrap-->
  <link rel="icon" href="images/animated-icons-16-svgrepo-com.svg">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="/css/styles.css">
  <title>Consulte CEP</title>
</head>

<body class="p-3 mb-2 bg-dark text-white" style="display:  flex; align-items: center; justify-content: center;"></body>
<div class="row">
  <h1>Informe o CEP para que possamos entregar o objeto na sua casa</h1>
  <input type="hidden" id="csrfToken" name="csrfToken" value="">
</div>
<script src="../index.js"></script>
</body>

</html>