body {
    margin-bottom: 0vh;
    padding-bottom: 0%;
    border: 0vh;
}

.row {
    padding: 5vh, 5vh, 0vh, 5vh;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 6vh;
}

.form-group {
    width: 85%;
}

.form {
    margin-left: 20%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.container {
    opacity: 0.8;

}

img {
    width: 65%;
    margin-left: 10%;
}

footer {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

@media (max-width: 900px) {
    img {
        margin-top: 10%;
        width: 65%;
        margin-left: 20%;
    }

    .form-group {
        width: 85%;
        margin-top: 2%;
    }
}